<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">

<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="indexPage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="addBook">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="people">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="addPeople">Add People</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/addBook">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider">Valami</li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div style="margin: 25px 50px 75px 50px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN</th>
            <th scope="col">Release Date</th>
            <th scope="col">Delete</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}" ></td>
            <td th:text="${book.title}" ></td>
            <td th:text="${book.author}" ></td>
            <td th:text="${book.isbn}" ></td>
            <td th:text="${book.release_date}" ></td>
            <td>
                <form th:action="@{/deleteBook}" th:object="${book}" method="post">
                    <input class="d-none" name="id" th:value="${book.id}">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/editBook}" th:object="${book}" method="post">
                    <input class="d-none" name="id" th:value="${book.id}">
                    <button class="btn btn-primary">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <div style="margin-bottom: 50px">
        <button style= "margin-left:30px;" type="button" class="btn btn-primary" href="/addBook">
            <a  style = "color : white; text-decoration: none;" href="/addBook">Add Book</a>
        </button>
    </div>

</body>

</html>